.container {
    width: 50%;
    margin: auto;

    h1 {
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 142%;
        text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
        letter-spacing: 0em;
        text-align: left;
        background: linear-gradient(180deg, #B0FBBC 0%, #82F9A1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        color: #ECF8FF;
    }

    p {
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        color: #ECF8FF;
    }
}

.red {
    color: #EA4C89;
    border-bottom: 2px solid #EA4C89;
}

.grey {
    color: #BBC6CC;
    border-bottom: 2px solid #BBC6CC;
}

.blue {
    color: #1DA1F2;
    border-bottom: 2px solid #1DA1F2;
}